<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="groups">
  <% @groups.each do |group| %>
   <%=link_to group_entities_path(group.id) do %>
    <%= render group %>
    <%# <p><%="Transaction Total: #{@group.entity.name}"%>
    <p>
      <%= link_to "Show this group", group %>
    </p>
    <%end%>
  <% end %>
</div>

<%= link_to "New category", new_group_path %>
